h1{
    background: red;

}
tr.conctate{
    background: red;
}
table.conctate{
    border-radius: 35px;
    margin-top: 350px;
}
body{
    background: #a7a9a8;
}
table{
    background: gray;

}
table.tablemenu{
    background: red;
}
a.imageFrozen{
    height: 1500px;
    width: 500px;
}
.arrondi{
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50px;
}
.arrondi2{
    margin-right: 45%;
    margin-left: 45%;
    border-radius: 50px ;
}
.tableauWeb{
    margin-left: 450px;
    margin-top: 120px;
    border-radius: 50px;
    border: white;

}
.info{
    margin-top: 350px;

}
.conct{
    border-radius: 15px;
    text-align: center;
}
.bordeurImage{
    border-radius: 15px;
}